{% extends "navigationbar.html" %}
{% block body %}
<style>
    div.indent {
  text-indent: 40px;
}
</style>
<br>
  <div class="alert alert-info" role="alert">
    <h6> Get 20% our Book of the Month. Paperback & Hardcover. SHOW NOW! </h6>
  </div>
<div class="indent">
    <h5>Book of the Month</h5>    
</div>

<div class="indent">
    <p style="float: left;"><img src="https://www.easons.com/globalassets/5637150827/all/books/fiction/special-features/fiction-in-translation/97802419685812.jpg"></p>
    <p><center><h6> One hundred years of solitude this month by Gabriel García Márquez </h6></center> <br> <p style="text-align:left;"> 'Many years later, as he faced the firing squad, Colonel Aureliano Buendía was to remember that distant afternoon when his father took him to discover ice'

        Gabriel García Márquez's great masterpiece is the story of seven generations of the Buendía family and of Macondo, the town they built. Though little more than a settlement surrounded by mountains, Macondo has its wars and disasters, even its wonders and its miracles. A microcosm of Columbian life, its secrets lie hidden, encoded in a book, and only Aureliano Buendía can fathom its mysteries and reveal its shrouded destiny.
        
        Blending political reality with magic realism, fantasy and comic invention, One Hundred Years of Solitude is one of the most daringly original works of the twentieth century.</p>
</div>






{% endblock body %}